* {
    margin: 0;
    padding: 0;
}

html, body, section {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.page1 {
    height: 100%;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
}

.pName {
    margin-bottom: 0.1rem;
    font-size: 2.5vw;
}

.pNpm {
    font-size: 2.15vw;
}

.about {
    font-size: 1.5vw;
}

.pQuote {
    width: 150%;
    font-size: 1.45vw;
    text-align: center;
}

.pUni1 {
    font-size: 2.5vw;
    margin-bottom: 0.1rem;
}

.pUni2 {
    font-size: 2.15vw;
}

.pp {
    width: 40%;
    z-index: 1;
}

.page2 {
    height: 100%;
    width: 100%;
    /* background-image: url("images/back2.jpg"); */
}

.pBioTitle {
    font-size: 5vw;
}

.pBio {
    font-size: 2vw;
}

.imgPage2 {
    height: 31vw;
    width: 19.5vw;
    z-index: 1;
}

.rect4 {
    height: 1vw;
    width: 5vw;
    background-color: #C4C4C4;
}

.rect5 {
    height: 1vw;
    width: 50vw;
    background-color: #C4C4C4;
}

.page3 {
    height: 100%;
    width: 100%;;
}

.pHobby {
    font-size: 4vw;
}

.rect7 {
    height: 1vw;
    width: 5vw;
    background-color: #C4C4C4;
}

.rect8 {
    height: 1vw;
    width: 50vw;
    background-color: #C4C4C4;
}

.hby {
    width: 10.5vw;
    height: 10.5vw;
}

.pSkills {
    font-size: 4vw;
}

.rect13 {
    height: 1vw;
    width: 50vw;
    background-color: #C4C4C4;
}

.rect14 {
    height: 1vw;
    width: 5vw;
    background-color: #C4C4C4;
}

.skl {
    width: 10.5vw;
    height: 10.5vw;
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    html, body, section {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    .page1 {
        height: 100%;
        width: 100%;
        padding: 0;
    }
    
    .pName {
        margin-bottom: 0.1rem;
        font-size: 4vh;
    }
    
    .pNpm {
        font-size: 3.3vh;
    }
    
    .about {
        font-size: 2vh;
    }
    
    .pQuote {
        width: 150%;
        font-size: 1.5vh;
        text-align: center;
        margin-top: 7vh;
    }
    
    .pUni1 {
        margin-top: 13vh;
        font-size: 4vh;
        margin-bottom: 0.1rem;
    }
    
    .pUni2 {
        font-size: 3.3vh;
    }
    
    .pp {
        width: 70%;
        z-index: 1;
        margin-top: 5vh;
    }
    
    .page2 {
        height: 100%;
        width: 100%;
        /* background-image: url("images/back2.jpg"); */
    }
    
    .pBioTitle {
        font-size: 6vh;
    }
    
    .pBio {
        font-size: 2.25vh;
        margin-top: 5vh;
    }
    
    .imgPage2 {
        height: 31vh;
        width: 19.5vh;
        z-index: 1;
    }
    
    .rect4 {
        height: 2vw;
        width: 5vw;
        background-color: #C4C4C4;
    }
    
    .rect5 {
        height: 2vw;
        width: 50vw;
        background-color: #C4C4C4;
    }
    
    .page3 {
        height: 100%;
        width: 100%;;
    }
    
    .pHobby {
        font-size: 5vh;
    }
    
    .rect7 {
        height: 2vw;
        width: 5vw;
        background-color: #C4C4C4;
    }
    
    .rect8 {
        height: 2vw;
        width: 50vw;
        background-color: #C4C4C4;
    }
    
    .hby {
        width: 10vh;
        height: 10vh;
    }
    
    .pSkills {
        font-size: 5vh;
    }
    
    .rect13 {
        height: 2vw;
        width: 50vw;
        background-color: #C4C4C4;
    }
    
    .rect14 {
        height: 2vw;
        width: 5vw;
        background-color: #C4C4C4;
    }
    
    .skl {
        width: 10vh;
        height: 10vh;
    } 
}