{% block content %}
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>Friend List</title>

  </head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
  <body style="font-family: 'Roboto', sans-serif; background-color: #c4c4c4;">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="mainNav">
        <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNa  v">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link js-scroll-trigger" href="{% url 'homepage:index' %}">home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                friends
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'homepage:addFriend' %}">add</a>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </nav>
      <hr>
      <br><br>
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col">
            <h class="font-weight-bold" style="font-size: 5vh;">friend list</h>
          </div>
        </div>
      </div>
      <br>
      <table id="friendtable" class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Batch</th>
            <th scope="col">Hobby</th>
            <th scope="col">Fav Food/Drink</th>
          </tr>
        </thead>
        <tbody>
          {% for friend in friend %}
            <tr class="table-info">
              <td class="table-secondary">{{ friend.name }}</td>
              <td class="table-info">{{ friend.ClassYear }}</td>
              <td class="table-secondary">{{ friend.hobby }}</td>
              <td class="table-info">{{ friend.favFoodDrink }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
{% endblock %}